* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #f99400;
}

@font-face {
    font-family: "PlayFairDisplayBold";
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'PoppinsBold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    overflow-x: hidden;
    font-family: 'PoppinsRegular', Times, serif;
}

h1,h2 {
    font-family: 'PlayFairDisplayBold', Arial, sans-serif;
}

.container{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 15px 20px;
}

/* Header section  */

header {
    background-color: transparent;
    color: white;
    width: 100%;
    /* max-width: 100%; */
    text-decoration: none;
    font-size: 18px;
}

header .header-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header .logo-container {
    
}

header .navigation {
   
}

header .navigation ul {
    display: flex;
    justify-content: space-between;
}

header .navigation ul li {
    list-style: none;
    text-transform: capitalize;
    margin-right: 40px;
   
}

header .navigation ul li a:hover{
    color: var(--primary-color);
}

header .buttons-container {
    display: flex;
    justify-content: space-between;
  
}

header .buttons-container a {
    padding: 15px 20px;
    border-radius: 10px;

}

header .buttons-container a:hover {
    background-color: var(--primary-color);
}

header .buttons-container a#login-btn {
    margin-left: 20px;
    border: 1px solid white;
}

/* HERO SECTION  */

#hero-sec{
    width: 100%;
    position: relative;
    color: white;
    padding: 6% 0 18%;

}

#hero-sec::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../images/bitcoin-hero-bg.jpg') no-repeat center center/cover;
    top: -97px;
    left: 0px;
    z-index: -1;

}

#hero-sec .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#hero-sec .hero-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    color: #17064c;
    -webkit-text-stroke: 0.1vw #5c627a;
}

#hero-sec .hero-content h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color: white;
    -webkit-text-stroke: 0vw #5c627a;
    border-right: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 6s linear infinite;
}

#hero-sec .hero-content p{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

#hero-sec .hero-content form{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#hero-sec .hero-content form input{
    height: 62px;
    width: 78%;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
}

#hero-sec .hero-content form input:focus {
    border: #f99400;
}

#hero-sec .hero-content form button{
    width: 20%;
    font-size: 18px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 17px 15px;
    font-family: 'PoppinsMedium';
    cursor: pointer;
}

@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }

   
    70%, 90%{
        width: 100%;
    }
}


#currencies-sec{
width: 100%;
}

#currencies-sec .currencies-content{
    display: flex;
    justify-content: space-between;
}

#currencies-sec .currencies-content .currency-container{
    width: calc(100% / 4 - 30px);
    color: #181885;
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: -10px 8px 15px lightgray, /*left and bottom*/
            10px 8px 15px lightgray; /*right and bottom*/
}

#currencies-sec .currencies-content .currency-container .currency-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#currencies-sec .currencies-content .currency-container .currency-header .currency-name {
    display: flex;
    align-items: center;
}

#currencies-sec .currencies-content .currency-container .currency-header .currency-name h5{
    font-size: 18px;
}

#currencies-sec .currencies-content .currency-container .currency-header .change-24hr{
    background-color: #adaaaa;
    color: white;
    font-size: 18px;
    padding: 0 6px;
}

#currencies-sec .currencies-content .currency-container .currency-header .currency-name img{
    width: 40px;
    margin-right: 10px;
}

#currencies-sec .currencies-content .currency-container .currency-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#currencies-sec .currencies-content .currency-container .currency-body .currency-price{
font-size: 26px;
}

#currencies-sec .currencies-content .currency-container .currency-body .change-in-percent{
font-size: 20px;
}

